@require(path_for)
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Alubms</title>
        <meta name="description" content="A very simple local photo browse">
        <link rel="stylesheet" href="@path_for('static', path='main.css')">
    </head>
    <body>
        
        <h1>Album</h1>
        <hr>
        
        <div>
            @def content():
            @end
            @content()
        </div>
        
    </body>
</html>